/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
* {
  box-sizing: border-box;
}
#achv_description {
  white-space: pre-wrap;
}
#profile {
  white-space: pre-wrap;
}
.card.p-1 {
  width: auto;
}
.card.p-1 img {
  height: 466px;
  width: 366px;
}

/* body {
  position: relative;
} */
.back-to-form {
  position: fixed;
  top: 10px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.template.container-fluid {
  position: absolute;
  top: 0;
}

/**********        Form CSS Starts from Here      ********* */

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 150px;
  border: 2px solid #dddddd;
  cursor: pointer;
}
#previewText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#innerSpan {
  text-align: center;
  font-size: 14px;
}
#previewText:hover {
  background-color: #dddddd66;
}
#image {
  display: none;
  width: 120px;
  height: 150px;
}
#inpImg {
  display: none;
}

/* image end */

#b1 {
  border: 0px solid #a1a1a1;
  background-color: #205bff00;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  width: 100px;
}
#b1:hover {
  /* background: #03c4ff; */
  box-shadow: 1px 1px 5px rgb(206, 206, 206);
}

#nav-list li:hover {
  font-size: 1rem;
  font-weight: 500;
}

#nav {
  /* margin-top: 50px; */
  /* background-color: #32e479; */
  background-color: #c7c7c7;

  /* top: -5%; */
  /* left: -5%; */
  /* transform: rotate(2deg); */
}

#nav-links {
  color: #000000;
}

body {
  padding-top: 5rem;
}
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#c1 {
  height: 500px;
  background-color: #3be67f;
  /* border-radius: 20px; */
}

#cvButton {
  background-color: #626ccc;
  color: #ffffff;
  /* border-radius: 15px; */
  height: 50px;
  width: 200px;
}

.date {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dadee3;
}

#card {
  /* border-radius: 12px ; */
  border-radius: 15px;
  border: 1px solid #dadee300;
  /* box-shadow: 3px 3px 3px rgb(206, 206, 206); */
}

/* ------------------------------- */
/* Steps */
.step {
  display: none;
}
.step.active {
  display: block;
}

/* ------------------------------- */

.next_btn,
.prev_btn,
.generateCv_btn {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  color: white;
  background-color: #626ccc;
  padding: 10px;
  margin: 20px;
  width: 180px;
  height: 50px;
  margin-bottom: 50px;
}
.generateCv_btn {
  background-color: #43c5a4;
}

div[class*="panel"] {
  display: none;
}

.flip-card {
  /* border: 1px solid rgb(189, 189, 189); */
  box-shadow: 0px 0px 3px rgb(204, 204, 204);
}

.accordion-header {
  position: relative;
  display: none;
}

.delete-item {
  z-index: 10;
  position: absolute;
  top: 0.75em;
  right: 2.5em;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.delete-item:hover {
  color: red;
}

/* Templates card css */
#form3 .card {
  transition: 0.5s;
}

#form3 .card:hover {
  background-color: #80808088;
}

.back-to-form{
  background-color: #80808091;
  border-radius: 25px;
}
.back-to-form:hover{
  background-color: #80808080;
}

/* Scroll Bar  */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 254, 254);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

 /* navbar starts */
 nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 70px;
  background: linear-gradient(to bottom, #57059e, #4a00e0);
  box-shadow: 0 1px 2px rgba(222, 57, 109, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 8px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
   background: linear-gradient(to bottom right, #8f8c92, #323bdf);
  box-shadow: 0 1px 2px rgba(184, 25, 25, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .profile{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}
.navbar .profile .profilei{
  width:45px;
  margin:10px;
}
.navbar .profile .logo{
  font-size: 20px;
  color: #fff;
  font-weight: 570;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}


/* navbar ends */
/* footer section starts */
.footer {
bottom: 0;
min-height: auto;
padding-top: 0;
background: rgb(0, 1, 43);
overflow-x: hidden;
scroll-behavior: smooth;
} 

.footer .box-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 3%;
}
.footer .box-container .box {
flex: 1 1 5rem;
margin: 2.3rem;
}
.footer .box-container .box h3 {
font-size: 2rem;
color: #fff;
padding-bottom: 1rem;
font-weight: normal;
}
.footer .box-container .box p {
font-size: 1rem;
color: #ccc;
padding: 0.7rem 0;
text-transform: none;
}
.footer .box-container .box p i {
padding-right: 1rem;
color: #ffae00;
}
.footer .box-container .box a {
font-size: 1.2rem;
color: rgb(238, 238, 238);
padding: 0.3rem 0;
display: block;
text-decoration: none;
}
.footer .box-container .box a:hover {
color: #ffae00;
}
.footer .box-container .box .share {
display: flex;
flex-wrap: wrap;
padding: 1rem 0;
}
.footer .box-container .box .share a {
height: 3.5rem;
width: 3.5rem;
padding: 1rem;
text-align: center;
border-radius: 5rem;
font-size: 1.5rem;
margin-right: 1rem;
transition: 0.2s;
background: rgb(230, 230, 230);
color: #02094b;
border: none;
}
.footer .box-container .box .share a:hover {
background: transparent;
transform: scale(0.98);
border: 0.1rem solid rgb(180, 178, 178);
color: #ffae00;
}
.footer .credit {
padding: 1rem 0 0 0;
text-align: center;
font-size: 1.5rem;
font-family: "Nunito", sans-serif;
font-weight: 500;
color: #fff;
border-top: 0.1rem solid #fff3;
}
.footer .credit a {
color: #ffae00;
}
.footer .fa {
color: #e90606;
margin: 0 0.3rem;
font-size: 1.5rem;
animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
to {
  transform: scale(1.1);
}
}
@keyframes pound {
to {
  transform: scale(1.1);
}
}
@media (max-width: 450px) {
.footer .box-container .box {
  margin: 1.5rem;
}
.footer .box-container .box p {
  padding: 0.7rem;
}
.footer .box-container .box .share a {
  padding: 1.2rem;
}
}
/* footer section ends */
/* common media queries starts*/
@media (max-width: 450px) {
html {
  font-size: 55%;
}
body {
  padding-right: 0;
}
section {
  padding: 2rem;
}
}